body{
    margin: 0;
    font-family: 'Inter', sans-serif;
}

section{
    padding: 50px;
    margin: 0 auto;
}

img{
    width: 100%;
}

h1 {
    font-size: 65px;
}

h2{
    color: #121212;
    font-size: 45px;
    text-align: center;
}

h3{
    font-size: 30px;
}

p{
    font-weight: 400;
    font-size: 18px;
    color: #707070;
}


.white-text{
    color: #fff;
}
.text-center{
    text-align: center;
}

.red-button{
    background-color: #FF5959;
    color: #fff;
    padding: 16px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}




.header {
    background-image: url(images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color:#fff;  
    padding-bottom: 120px;
}




.donate-now-area{
    width: 70%;
}
.donate-amount-area{
    display: flex;
    justify-content: center;
  
}
.singel-donate-amount{
    padding: 40px;
    margin: 10px;
    background: #FAFAFA;
    border-radius: 5px;
}

#red-box{
    background: #FFEEEE;
    border: 2px solid #FF5959   
}
#donate-amount{
    padding: 10px;
    text-align: center;
    color: #B3B3B3;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom:  1px solid #DADADA;
    width: 100%;
    margin-top: 30px;
}




.donate-plan-list {
    display: flex;
}

.singel-donate-plan{
    padding: 50px 20px;
    border-radius: 5px;
    margin: 10px;
    width: 33%;
}

.singel-donate-plan  img{
    width: 50px;
}

.light-blue{
    background-color: #EDF5F6;
}

.light-red{
    background-color: #FFEEEE;
}

.light-yellow{
    background-color: #FFF4D6;
}




.half-width{
    width: 50%;
}


.flex-area, .singel-helping-option{
    display: flex;
    align-items: center;
    
}

.option-icon{
    width: 10%;
    background-color: #FFEEEE;
    margin-right: 30px;
    padding: 10px;
    border-radius: 10px;
}

.option-content{
    width: 80%;
}

.helping-option-area{
    width: 80%;
}

.video-thumb{
    border-radius: 10px;
}




.subscription-area{
    width: 70%;
}

.donate-now-area p, .donate-plan-area p, .subscription-area p{
    margin-bottom: 40px;
}

.subscription-from{
    padding: 50px 150px;
    
}

#email{
    background-color: #D9D9D9;
    padding: 16px;
    border: none;
    width: 50%;
    border-radius: 5px 0 0px 5px;
   
}
#subscribe{
    border-radius: 0px 5px 5px 0px;
}




.footer{
    background-color: #000;
    color:#fff;
    text-align: center;
    padding: 10px;
}
.fancy-text{
    font-family: 'Lobster', cursive;
    color: #FF5959;
 
}